# Server Configuration
PORT=4000
NODE_ENV=development

# Real-Time WebSocket URL for Client
NEXT_PUBLIC_WS_URL=ws://localhost:4000
NEXT_PUBLIC_API_URL=http://localhost:4000

# Database Configuration (Defaults to SQLite in development, Postgres in production)
DATABASE_URL="file:./dev.db"
# For PostgreSQL: DATABASE_URL="postgresql://user:password@localhost:5432/snakes_db?schema=public"
